<div class="container-navbar">
    <div class="container-content-navbar">
        <div class="content">
            
            <div class="icon">
                <img src="../../../assets/icons/oryes-icon.png" alt="">
            </div>
            <div class="navegation">
                   <h4 routerLink="/home">Inicio</h4>
                   <h4 routerLink="/especialidades">Area de especialidad</h4>
                   <h4>Paquetes</h4>
                   <h4>Reservar cita</h4>

            </div>
            <div class="social-networks">
                <img src="../../../assets/icons/facebook-icon.svg" alt="">
                <img src="../../../assets/icons/instagram-icon.svg" alt="">
                <img src="../../../assets/icons/whatsapp-icon.svg" alt="">
            </div>
        </div>
    </div>
</div>