<!-- <ngb-carousel *ngIf="images">
	<ng-template ngbSlide *ngFor="let item of images">


        <!-- <div class="container-slider">
            <div class="container-text-banner">

                <div class="text-banner">
                    <h2>Deje que los alimentos sean su medicina y que la medicina sea su alimento</h2>
                </div>

            </div>
            <div class="picsum-img-wrapper">
                <img [src]="item.path" alt="Random first slide" />
            </div>
        </div> 
	</ng-template>
</ngb-carousel> -->

<section class="section-about-oryes">   
    <div class="about-oryes">
        <div class="container-nutrionist">
            <img  src="../../../assets/imges/nutrionist.png" alt="">
        </div>
        <mat-card class="card-oryes">
            <img width="150" class="feather" src="../../../assets/icons/Group.svg" alt="">
            <mat-card-title>Paola Ortíz Reyes</mat-card-title>
            <mat-card-content>
              <p class="information">Nutrióloga egresada de la Universidad Cristóbal Colón, certificada en nutrición clínica pediátrica por la Asociación Mexicana de Estudiantes de Nutrición. Diplomado en nutrición pediátrica y nutrición fitness por EP de México Estudios de Postgrado de Excelencia A.C. Diplomado en nutrición fitness y antiaging por la Universidad Anáhuac Mayab. Diplomado en curso de nutrición especializada en el paciente renal por EP de México Estudios de Postgrado de Excelencia A.C. 
            </p>              
            </mat-card-content>
          </mat-card>
    </div>
</section>

<section class="container-modality section-about-oryes">  

    <div class="background-white container-content-modality">
        <div class="container-title">
            <h3>MODALIDAD DE CONSULTA</h3>
        </div>


        <div class="container-icons">
            <div class="container-icon">
                <img width="120" src="../../../assets/icons/presential.svg" alt="">
                <h3>Presencial</h3>
            </div>
            <div class="container-icon">
                <img width="120" src="../../../assets/icons/presential.svg" alt="">
                <h3>Online</h3>
            </div>

            <div class="container-icon">
                <img width="120" src="../../../assets/icons/presential.svg" alt="">
                <h3>Dúo / Familiar</h3>
            </div>

            <div class="container-icon">
                <img width="120" src="../../../assets/icons/presential.svg" alt="">
                <h3>Domicilio</h3>
            </div>
      
        </div>
    </div>


</section>


<section class="section-about-oryes">   
    <div class="about-oryes-schedule">

        <div class="container-title">
            <h3>HORARIOS</h3>
        </div>

        <div class="container-schedule">
            <h4>
                Lunes a viernes 9:00 am 9:00 pm
            </h4>
            <h4>
                Sábado 9:00 am - 6 pm 
            </h4>
            <h5>
                Consultas únicamente bajo cita 
            </h5>

            <h5>
                Dirección
            </h5>
        </div>
        
    </div>
</section>