<div class="absolutely-width contenedor">
    <img src="../../assets/imges/header-specialties.png" alt="">
    <div class="texto-encima centrado">Especialidades</div>
    
</div>

<div class="absolutely-width">

    <div class="absolutely-width container-images">
        <div class="img-cont">
            <img src="../../assets/imges/nutrition-fitnes.png" alt="">
        </div>
        <div class="img-cont">
            <img src="../../assets/imges/pedriatic-nutrition.jpeg" alt="">
        </div>

        <div class="img-cont">            
            <img src="../../assets/imges/clinical-nutrition.jpeg.png" alt="">
        </div>
    </div>
</div>